/* About.css */

.about {
    padding: 100px 0;
}

.section-title {
    margin-bottom: 50px;
}

.about-details {
    margin-bottom: 30px;
}

.about-item {
    display: flex;
    align-items: top;
    margin-bottom: 20px;
}

.about-item .icon {
    color: #ffc451;
    font-size: 24px;
    margin-right: 10px;
    }

.about-item .text-white {
    color: #ffffff;
}

.skill-bars {
    margin-bottom: 30px;
}

.progress-wrapper {
    margin-bottom: 15px;
}

.progress {
    height: 10px;
}

.progress-bar {
    border-radius: 5px;
}

.progress-wrapper .text-white {
    display: inline-block;
    margin-left: 10px;
}

.about-image {
    background-image: url('../images/profile.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}