/* BlogList.css */

.blog {
  padding: 100px 0;
}

.blog .blog-card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.blog .blog-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

.blog .blog-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.blog .blog-card .card-subtitle {
  font-size: 0.875rem;
}

.blog .equal-height {
  display: flex;
}

.blog .equal-height .blog-card {
  flex: 1;
}

.blog a {
  text-decoration: none;
}

.blog a .blog-card{
  text-decoration: none;
  transition: all 0.3s ease;
}

.blog a .blog-card:hover {
  text-decoration: none;
  transform: scale(1.05);
}