/* Navigation.css */

.navbar {
  background-color: #343a40;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar .navbar-toggler-icon {
  color: #ffffff;
}