/* Welcome.css */

.welcome {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('../bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  padding-top: 100px;
}

.welcome h1,
.welcome p {
  color: #ffffff;
}

.welcome .text-container {
  background: rgba(204, 204, 204, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.welcome  .box-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.welcome .box {
  background: rgba(204, 204, 204, 0.1);
  color: #ffffff;
  padding: 20px;
  border: 1px solid #ffc451;
  border-radius: 10px;
  width: calc(25% - 10px);
  margin-right: 10px;
  transition: all 0.3s ease;
  overflow: hidden;
}
.welcome .box:hover {
  transform: scale(1.05);
}

.welcome .box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome .box p {
  font-size: 16px;
}

.welcome .icon {
  font-size: 40px;
  color: #ffc451;
}

@media (max-width: 767px) {
  .welcome .box-container {
    flex-direction: column;
  }
  
  .welcome .box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .welcome .box:hover {
    transform: unset;
  }
}

